/* app code or theme code */
:root {
  /* light */
  --surface-1of1--background-color: hsl(0 0% 100%);

  --surface-1of2--background-color: hsl(0 0% 100%);
  --surface-2of2--background-color: hsl(0 0% 70%);

  --surface-1of3--background-color: hsl(0 0% 100%);
  --surface-2of3--background-color: hsl(0 0% 70%);
  --surface-3of3--background-color: hsl(0 0% 50%);

  /* dark */
  /* --surface-1of1--background-color: hsl(0 0% 0%);

  --surface-1of2--background-color: hsl(0 0% 30%);
  --surface-2of2--background-color: hsl(0 0% 0%);

  --surface-1of3--background-color: hsl(0 0% 60%);
  --surface-2of3--background-color: hsl(0 0% 30%);
  --surface-3of3--background-color: hsl(0 0% 0%); */

  /* color: white; */
}

/* place this later */
[data-flex] {
  display: var(--flex--display, flex);
  gap: var(--flex--gap);
  justify-content: var(--flex--justify-content);
  align-items: var(--flex--align-items);
  flex-direction: var(--flex--flex-direction);
}

[data-flex-stack] {
  --flex--flex-direction: column;
  --flex--justify-content: center;
  --flex--align-items: center;
  --flex--gap: 1rem;
}

[data-surface] {
  box-sizing: border-box;

  background-color: var(--surface-1of1--background-color);
}

[data-surface~="depth:2"] {
  background-color: var(--surface-2of2--background-color);
}
[data-surface~="depth:2"] [data-surface] {
  background-color: var(--surface-1of2--background-color);
}

[data-surface~="depth:3"] {
  background-color: var(--surface-3of3--background-color);
}
[data-surface~="depth:3"] [data-surface] {
  background-color: var(--surface-2of3--background-color);
}
[data-surface~="depth:3"] [data-surface] [data-surface] {
  background-color: var(--surface-1of3--background-color);
}

[data-avatar] {
  --avatar--size: 2rem;

  box-sizing: border-box;
  width: var(--avatar--size);
  height: var(--avatar--size);
  object-fit: cover;
}

/* sample size system API */

/* [data-avatar~="size:xs"] {
  --avatar--size: 20px;
}

[data-avatar~="size:sm"] {
  --avatar--size: 24px;
}

[data-avatar~="size:md"] {
  --avatar--size: 32px;
}

[data-avatar~="size:lg"] {
  --avatar--size: 40px;
} */

[data-heading] {
  color: var(--heading--color);
  font-size: var(--heading--font-size);
}

[data-typographic-scale="minor-third"] h6[data-heading] {
  --heading--font-size: 0.79rem;
}
[data-typographic-scale="minor-third"] h5[data-heading] {
  --heading--font-size: 0.899rem;
}
[data-typographic-scale="minor-third"] h4[data-heading] {
  --heading--font-size: 1rem;
}
[data-typographic-scale="minor-third"] h3[data-heading] {
  --heading--font-size: 1.25rem;
}
[data-typographic-scale="minor-third"] h2[data-heading] {
  --heading--font-size: 1.266rem;
}
[data-typographic-scale="minor-third"] h1[data-heading] {
  --heading--font-size: 1.424rem;
}

[data-text] {
  color: var(--text--color);
  font-size: var(--text--font-size);
}

[data-typographic-scale="minor-third"] [data-text="font-size:large"] {
  --text--font-size: 1.25rem;
}
[data-typographic-scale="minor-third"] [data-text="font-size:medium"] {
  --text--font-size: 1rem;
}
[data-typographic-scale="minor-third"] [data-text="font-size:small"] {
  --text--font-size: 0.889rem;
}

[data-neutral-color-scale~="11-step--linear"] {
  --color-neutral-0: hsl(0, 0%, 0%);
  --color-neutral-1: hsl(0, 0%, 10%);
  --color-neutral-2: hsl(0, 0%, 20%);
  --color-neutral-3: hsl(0, 0%, 30%);
  --color-neutral-4: hsl(0, 0%, 40%);
  --color-neutral-5: hsl(0, 0%, 50%);
  --color-neutral-6: hsl(0, 0%, 60%);
  --color-neutral-7: hsl(0, 0%, 70%);
  --color-neutral-8: hsl(0, 0%, 80%);
  --color-neutral-9: hsl(0, 0%, 90%);
  --color-neutral-10: hsl(0, 0%, 100%);
}

[data-box] {
  /* this element should load last to override */
  box-sizing: var(--box--box-sizing, border-box);
  margin: var(--box--margin);
  border: var(--box--border);
  padding: var(--box--padding);

  /* things that don't work */

  /* border-width: var(--box--border-width, inherit);
  border-style: var(--box--border-style, inherit);
  border-color: var(--box--border-color, inherit); */

  /* var(--box--border-width) var(--box--border-style) var(--box--border-color), */
}
