[data-media] {
  display: grid;
  grid-template: var(--media--grid-template, "image content" auto / auto 1fr);
  gap: var(--media--gap, 0.5rem);

  --media--image--size: 2rem;
}

[data-media--image] {
  grid-area: image;
  align-self: var(--media--image--align-self, start);
}

[data-media--content] {
  grid-area: content;
}
